.App{
    height: 10vh;
  .buttons{
  
     

      display: flex;
      justify-content: space-around;
      padding: 10px;
      background-color: black;
      
      button{
          @media (max-width: 425px) {
              width: 5rem;
              
          
             }
          
              width: 8rem;
              height: 3rem;
              border: none;
              outline: none;
              color: #fff;
              background: transparent;
              cursor: pointer;
              position: relative;
              z-index: 0;
              border-radius: 10px;
              font-size: 1rem;
              &:hover{
                background-color: #38880b;
              }
      }
  }
}
